@use 'sass:math';

.reveal-wrapper {
    display: grid;
    grid-template-areas: 
        "sidenav content content"
        "sidenav content content"
        "sidenav content content";
    height: 100vh;
    gap: 30px;
    padding: 20px;
}

.reveal-nav {
    grid-area: sidenav;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            font-size: 25px;
            margin: 0 10px 0 10px;
            padding: 0;
            overflow: hidden;
            cursor: pointer;
        }
    }
}

.reveal-header {
    grid-area: content;
    display: flex;
    align-items: center;
    height: 100%;
    z-index: 2;
    
    &__content {
        overflow: hidden;

    }
}

.reveal-video {
    grid-area: content;
    max-width: calc(100% - 160px);
    max-height: 100%;
    overflow: hidden;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;

    svg {
        display: block;
        // min-height: 250px;
        // width: 250px;

        path {
            transform: scale(1.5) translate(180px, 190px);
        }
    }

}


.reveal-panel-grids {
    grid-area: content;
    position: relative;

    .reveal-panel-grid {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(8, 1fr);
        width: 100%;
        height: 100vh;
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;

        &__item {
            
            &.reveal-panel-grid__item--top {
                clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
                transform: translate(16px, -5px);
            }

            &.reveal-panel-grid__item--right {
                clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
                transform: translate(-6px, 15px);
            }

            &.reveal-panel-grid__item--bottom {
                clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
                transform: translate(-30px, 30px);
            }

            &.reveal-panel-grid__item--left {
                clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
                transform: translate(-30px, -20px);
            }

        }

        &__image {
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transform: scale(1.5);
                filter: brightness(1.75)
            }
        }

        &.reveal-panel-grid--1 {
            .reveal-panel-grid__item {
                &:nth-child(1){
                    grid-column: 1 / span 3;
                    grid-row: 1 / span 2;
                }

                &:nth-child(2){
                    grid-column: span 3 / -1;
                    grid-row: 3 / span 3;
                }

                &:nth-child(3){
                    grid-column: 3 / 5;
                    grid-row: 6 / 8;
                }

                &:nth-child(4){
                    grid-column: 2 / 4;
                    grid-row: 4 / 7;
                }

            }
        }

        &.reveal-panel-grid--2 {
            .reveal-panel-grid__item {
                &:nth-child(1){
                    grid-column: 2 / span 3;
                    grid-row: 2 / span 2;
                }

                &:nth-child(2){
                    grid-column: span 5 / -1;
                    grid-row: 3 / span 3;
                }

                &:nth-child(3){
                    grid-column: 3 / 5;
                    grid-row: 5 / 8;
                }
            }
        }
    }
}